<!DOCTYPE html>
<html lang="en">

<body>
	<section class="hero is-success is-fullheight has-background-light">
		<div class="hero-body">
			<div class="container has-text-centered">>
				<div class="column is-6 is-offset-3">
					<div id="login">
						<h3 class="title has-text-black">Reset Password</h3>
						<hr style="border-top:1px solid black;">
                        <p *ngIf = "!usernameFlag" class="subtitle has-text-black">Please enter your username to proceed.</p>
						<div class="notification is-danger" *ngIf="usernameBadFlag">Username not found
							<button class="delete" (click)="toggleBadNotification()"></button>
						</div>
						<p *ngIf = "usernameFlag" class="subtitle has-text-black">Please fill out the security questions and enter your new password to proceed.</p>
						<div class="box">
							<div class="notification is-danger" *ngIf="displayNotification">User information is incorrect. Please try again.
								<button class="delete" (click)="toggleDisplayNotification()"></button>
                            </div>
                           
							<form [formGroup]="ResetForm">
                                <div *ngIf ="!usernameFlag" class = "container">
								<p class="subtitle has-text-black has-text-left">Username</p>
								<div class="field">
									<div class="control">
										<input formControlName="username" class="input is-medium" placeholder="Username" type="text" id="userName" name="userName" #text>
									</div>
                                </div>
                                <button class="button is-link large is-fullwidth" (click)="getSecurityQuestions()">Check Username</button>


                            </div>
								<div *ngIf="usernameFlag" class="container">
									<hr>
									<p class="subtitle has-text-black has-text-left">Security Question 1</p>
									<div class="control">
										<p class="subtitle has-text-black has-text-left">{{securityQuestion1}}</p>
									</div>
									<hr>
									<div class="container">
										<input formControlName="sec1ans" class="input is-medium" placeholder="Security answer" type="text" id="sec1ans" name="sec1ans">
									</div>
									<hr>
									<p class="subtitle has-text-black has-text-left">Security Question 2</p>
									<div class="control">
										<p class="subtitle has-text-black has-text-left">{{securityQuestion2}}</p>
									</div>
									<hr>
									<div class="container">
										<input formControlName="sec2ans" class="input is-medium" placeholder="Security answer" type="text" id="sec2ans" name="sec2ans">
									</div>
									<hr>
									<div class="container">
										<p class="subtitle has-text-black has-text-left">New Password</p>
										<input formControlName="password" class="input is-medium" placeholder="New Password" type="password" id="password" name="password" #password>
									</div>
									<br>
									<br>
									<button class="button is-link large is-fullwidth" (click)="checkUserInfo()">Reset Password</button>
								</div>
							</form>
						</div>
					</div>
					<br>
				</div>
			</div>
		</div>
	</section>
</body>

</html>