
    <footer class="footer">
        <nav class="level">
            <p class="level-item has-text-centered">
              <a routerLink="/home" routerLinkActive="active" class="link is-info">Home</a>
            </p>
            <p class="level-item has-text-centered">
              <a class="link is-info" href="copyright">Copyright</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="standards">Standards</a>
              </p>
            <p class="level-item has-text-centered">
              <a routerLink="/home" routerLinkActive="active">
                <img src="https://media.graytvinc.com/images/690*388/ops+logo+new+1280.jpg" alt="OPS logo" style="height: 100px;">
              </a>
            </p>
            <p class="level-item has-text-centered">
              <a class="link is-info" href="support">Support</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="privacy">Privacy Policy</a>
              </p>
            <p class="level-item has-text-centered">
              <a class="link is-info" href="contact">Contact</a>
            </p>
          </nav>
      </footer>