<html lang="en" style = "overflow-y: hidden;">
    <footer class="footer">
        <nav class="level">
            <p class="level-item has-text-centered">
              <a class="navbar-item" routerLink="/home" routerLinkActive="active">Home</a>
            </p>
            <p class="level-item has-text-centered">
              <a class="navbar-item" routerLink="/copyright" routerLinkActive="active">Copyright</a>
            </p>
            <p class="level-item has-text-centered">
              <a class="navbar-item" routerLink="/standards" routerLinkActive="active">Standards</a>
              </p>
            <p class="level-item has-text-centered">
              <a routerLink="/home" routerLinkActive="active">
                <img src="https://media.graytvinc.com/images/690*388/ops+logo+new+1280.jpg" alt="OPS logo" style="height: 100px;">
              </a>
            </p>
            <p class="level-item has-text-centered">
              <a class="navbar-item" routerLink="/support" routerLinkActive="active">Support</a>
            </p>
            <p class="level-item has-text-centered">
              <a class="navbar-item" routerLink="/privacy" routerLinkActive="active">Privacy Policy</a>
              </p>
            <p class="level-item has-text-centered">
              <a class="navbar-item" routerLink="/contact" routerLinkActive="active">Contact</a>
            </p>
          </nav>
      </footer>
    </html>