<!DOCTYPE html>

<html lang="en" style = "overflow-y: hidden;">

<head>
    <title>Sign Up</title>
    <meta charset="utf-8" />
    <style>
    html { overflow-y: hidden; }      
      div.size {
        margin: auto;
        width: 70%;
        overflow-y: hidden;
      }
      div.center {
        padding: 15px;
        text-align: center;
        font-size: 2.2em;
        overflow-y: hidden;
        }
      </style>

</head>

<body>
  <br><br>
  <div class= center>
    <h1 class="title">New User Sign up</h1>
    </div>
  <div class=size>
  <div class="container is-desktop" >
    <div class="notification has-background-white">
    <div id="login"><!--May use external CSS to move to center-->
        <form [formGroup] = "NewUserForm">
            <label for="userName">Username</label>
            <input formControlName="username" class="input" placeholder="Username" type="text" id="userName"  name="userName" #text><br><br>
            <div class="notification is-danger" *ngIf="!NewUserForm.controls.password.valid && displayUserNotification"> Username is not valid or it is already taken. Please enter in a valid username.
              <button class="delete" (click) = "toggleUserDisplayNotification()"></button>
            </div>
            <label for="userName">Email</label>
            <input formControlName="email" class="input" placeholder="Email" type="text" id="emailName"  title="Enter valid Email format" name="emailName" #email ><br><br>
            <div class="notification is-danger" *ngIf="!NewUserForm.controls.email.valid && displayEmailNotification"> Email address is not valid. Please enter in a valid email address.
              <button class="delete" (click) = "toggleEmailDisplayNotification()"></button>
            </div>
            <p class="subtitle has-text-black has-text-left">Security Question 1</p>
            <div class="control">
              <select class="select" formControlName="security1" [value] = "question">
                <option *ngFor = "let question of securityQuestions">{{question}}</option>
              </select>
              <div class="notification is-danger" *ngIf="!NewUserForm.controls.security1.valid && displaySecurity1Notification"> The security question is not valid. Please choose a proper security question.
                <button class="delete" (click) = "toggleSecurity1DisplayNotification()"></button>
              </div>
            </div>
            <hr>
            <p class="subtitle has-text-black has-text-left">Security Answer #1</p>
            <input formControlName="security1ans" class="input" placeholder="Security Question Answer" type="text" id="security1ans"  title="Enter Security Question Answer" name="sec1" ><br><br>
            <div class="notification is-danger" *ngIf="!NewUserForm.controls.security1ans.valid && displaySecurity1AnsNotification"> Security answer is not valid. Please enter in a security answer.
              <button class="delete" (click) = "toggleSecurity1AnsDisplayNotification()"></button>
            </div>
            <p class="subtitle has-text-black has-text-left">Security Question 2</p>
            <div class="control">
              <select class="select" formControlName="security2" [value] = "question2">
                <option *ngFor = "let question2 of securityQuestions">{{question2}}</option>
              </select>
              <div class="notification is-danger" *ngIf="!NewUserForm.controls.security2.valid && displaySecurity2Notification"> The security question is not valid. Please choose a proper security question.
                <button class="delete" (click) = "toggleSecurity2DisplayNotification()"></button>
              </div>
            </div>
            <hr>
            <p class="subtitle has-text-black has-text-left">Security Answer #2</p>
            <input formControlName="security2ans" class="input" placeholder="Security Question Answer" type="text" id="security2ans"  title="Enter Security Question Answer" name="sec1ans" ><br><br>
            <div class="notification is-danger" *ngIf="!NewUserForm.controls.security2ans.valid && displaySecurity2AnsNotification"> Security answer is not valid. Please enter in a security answer.
              <button class="delete" (click) = "toggleSecurity2AnsDisplayNotification()"></button>
            </div>
            
            <label for="password">Password</label>
            <input formControlName="password" class="input" placeholder="********" type="password" id="password" name="password" #password><br><br>
            <div class="notification is-danger" *ngIf="!NewUserForm.controls.password.valid && displayPasswordNotification"> Password is not valid. Please enter in a valid password.
              <button class="delete" (click) = "togglePasswordDisplayNotification()"></button>
            </div>
            <button type="submit" class="button is-link" (click)="registerUser()">Sign up!</button>
        </form>
            <br><br><br>
           <!---
            <label for="userName">Email Test</label>
            <form>
                <label for="email">Email:</label>
                <input type="email" class="input" placeholder="User Email" id="email" name="email" #poop pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                <input class="button is-link" (click)="showText(text.value, password.value, email.value)" type="submit">
              </form>
              --->
            

        
    </div>
    </div></div></div>

    <br><br><br>


</body>
</html>