<!DOCTYPE html>

<html lang="en">

<head>
    <title>Support</title>
    <meta charset="utf-8" />
    <style>
        div.size {
            margin: auto;
            width: 70%;
        }

        div.center {
            padding: 15px;
            text-align: center;
            font-size: 2.2em;
        }

        div.centerContent {
            padding: 15px;
            text-align: center;
        }

        div.content {
            padding: 15px;
        }

        html {
            overflow: inherit
        }
    </style>


</head>

<body>
    <div class=center id=SupportHeader>
        <h1>Support</h1>
    </div>
    <!--End SupportHeader-->
    <div class=content id="content">
        <p>This site is currently in devolpment and as such parts may not function properly or at all. To receive help
            on current operation of site contact members
            of the initial devolpemtn team listedin the contact section.</p>

        <p>The available support for this site may change as devolpment furthers and devolpment may be passd off to
            other devolpers in the future.</p>
    </div>
</body>

</html>