<html lang="en" style = "overflow-y: hidden;"></html>
<div class="columns is-mobile is-centered">
    <div class="column is-half">
        <div id="welcomeImageScrolling" class="imgcenter">
            <img src="https://media.graytvinc.com/images/690*388/ops+logo+new+1280.jpg">
        </div>
        
        <div class="field has-addons">
            <div class="control is-expanded">
                <input class="input" [(ngModel)] = "searchValue" type="text" placeholder="Search lesson plans" />
            </div>
            <div class="control">
                <a (click) = "routeToSearchAll()" routerLinkActive="active" class="button has-background-link has-text-white">
                    Search All
                </a>
            </div>
        </div>
        <div id="frontText" class="center1">
            <p>Online Educational Resources help educators in creating lesson plans and furthering students learning.  This site will further the power of Online Educational Resources have in aiding educators in their teaching endeavors by constructing suggested lesson plans for them.  Educators will be empowered to share their teaching tools and resources by saving them to this site.  With this site teachers can become content creators, lesson plan designers, and curators.  
          </p>
        </div>
    </div>
</div>
