<body>
    
    <head>
        <title>Contact Us</title>
        <meta charset="utf-8" />
        <style>
            div.size {
                margin: auto;
                width: 70%;
            }
            h1.center {
                padding: 15px;
                text-align: center;
                font-size: 2.2em;
            }
            div.centerContent {
                padding: 15px;
                text-align: center;
            }
            html {
                overflow: inherit
            }
            div.contentHead {
                padding: 15px;
                font-size: 1.8em;
            }
            h2.title{
                font-size: 1.2em;
            }
        </style>
    
    
    </head>

    <h1 class = "center">Standards</h1>
    <div class="container is-desktop" >
    <div class="notification">
    <p>
        Each grade level has standards that are organized around topics, with each addressing one topic. 
         Topics are interconnected and a deeper understanding at higher grades requires foundational understanding of 
         many of these topics.
    </p>
    <p>There are indicators that reflect the three dimensions of science learning, 
        they each include a disciplinary core idea, a crosscutting concept, and a science and engineering practice. 
    </p>
    <p>
        Disciplinary core ideas are focused and limited set of ideas that have been identified as necessary for all
        students for their education.  Crosscutting concepts are used to organize and understand the disciplinary core ideas. 
        They help bridge disciplinary boundaries and help deepen the understanding of science content. 
        Science and Engineering practices are used by students to demonstrate their understanding of 
         disciplinary core ideas and crosscutting concepts.  
    </p>
    </div></div>
    <br><br>
    <div class="container is-desktop" >
        <div class="notification">
            <div class="columns">
            <div class="column" id="centerColumn">
                <h2 class="title">Science and Engineering Practices</h2>
                <p>-Asking Questions and Defining Problems</p>
                <p>-Developing and Using Models</p>
                <p>-Planning and Carrying Out Investigations</p>
                <p>-Analyzing and Interpreting Data</p>
                <p>-Using Mathematics and Computational Thinking</p>
                <p>-Constructing Explanations and Designing Solutions</p>
                <p>-Engaging in Argument from Evidence</p>
                <p>-Obtaining, Evaluating, and Communicating Information</p>
            </div>
            <div class="column" id="centerColumn">
                <h2 class="title">Disciplinary Core Ideas</h2>
                <p>-From Molecules to Organisms:
                    Structures and Processes</p>
                <p>-Ecosystems: Interactions, Energy,
                    and Dynamics</p>
                <p>-Heredity: Inheritance and Variation of
                    Traits</p>
                <p>-Biological Evolution: Unity & Diversity
                </p>
                <p>-Matter and Its Interactions</p>
                <p>-Motion and Stability: Forces and
                    Interactions
                    </p>
                <p>-Energy</p>
                <p>-Waves and Their Applications in
                    Technologies for Information Transfer</p>
                <p>-Earth’s Place in the Universe
                </p>
                <p>-Earth’s Systems</p>
                <p>-Earth and Human Activity</p>
                <p>-Engineering Design</p>
            </div>
            <div class="column" id="centerColumn">
                <h2 class="title">Crosscutting Concepts
                </h2>
                <p>-Patterns</p>
                <p>-Cause and Effect
                </p>
                <p>-Scale, Proportion,
                    and Quantity
                    </p>
                <p>-Systems and
                    System Models</p>
                <p>-Energy and Matter</p>
                <p>-Structure and
                    Function
                    </p>
                <p>-Stability and
                    Change</p>
            </div>
            </div>
        </div>
    </div>

    <br><br><br>
</body>
