<!DOCTYPE html>

<html lang="en" style = "overflow-y: hidden;">

<head>
    <title>Copyright</title>
    <meta charset="utf-8" />
    <style>
        div.size {
            margin: auto;
            width: 70%;
        }

        div.center {
            padding: 15px;
            text-align: center;
            font-size: 2.2em;
        }

        div.centerContent {
            padding: 15px;
            text-align: center;
        }

        div.content {
            padding: 15px;
        }

        html {
            overflow: inherit
        }
    </style>


</head>

<body>
    <div class=center id=CopyrightHeader>
        <h1>Copyright</h1>
    </div>
    <!--End CopyrightHeader-->
    <div class=content id="content">
        <div class="container is-desktop" >
            <div class="notification">
        <p>This website and its content were created by students of the University of Nebraska at Omaha under the request of Omaha Public Schools.  Content uploaded to this site will be owned by Omaha Public Schools.  Content retrieved from other sources is used under the assumption of free use.</p>
            </div>
        </div>

    </div>
</body>

</html>