<!DOCTYPE html>

<html lang="en" style = "overflow-y: hidden;">

<head>
    <title>Copyright</title>
    <meta charset="utf-8" />
    <style>
        div.size {
            margin: auto;
            width: 70%;
        }

        div.center {
            padding: 15px;
            text-align: center;
            font-size: 2.2em;
        }

        div.centerContent {
            padding: 15px;
            text-align: center;
        }

        div.content {
            padding: 15px;
        }

        html {
            overflow: inherit
        }
    </style>


</head>

<body>
    <div class=center id=CopyrightHeader>
        <h1>Copyright</h1>
    </div>
    <!--End CopyrightHeader-->
    <div class=content id="content">
        <p>This website and content is orginally created by students of the University of Nebraska at Omaha under the request of Omaha Public Schools and is thus owned by Omaha Publi Schools.
        Content uploaded to this site thus is also owned by Omaha Public Schools and content retrived from other sourses is used under the assumption of free use and any exception should be noted 
        in the exception content itself.</p>

        <p>Addational copyright information pending.</p>
    </div>
</body>

</html>