<!DOCTYPE html>

<html lang="en" style = "overflow-y: hidden;">

<head>
    <title>Upload Content</title>
    <meta charset="utf-8" />
    <!--<link rel="stylesheet" type="text/css" href="CSS PATH HERE" />-->
</head>

<body>
    <div class= "center">
        <h1 class="title">Upload Content</h1>
    </div>
    <div class="notification is-danger has-text-centered" *ngIf="toggleErrorNotification && !UploadForm.valid"> {{errorString}}
        <button class="delete" (click)="toggleErrorMessageNotification()"></button>
    </div>
    <div class="notification is-info has-text-centered" *ngIf="toggleUploadStatus"> File was uploaded successfully!
                <button class="delete" (click)="toggleUploadStatusNotification()"></button>
    </div>
    <div class="container is-desktop ">
        <div class="notification has-background-white">
            <form [formGroup]="UploadForm">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Title</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input class="input" type="text" formControlName="filename">
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Subject</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input class="input" type="text" formControlName="subject">
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Grade</label>
                    </div>
                    <div class="field-body">
                        <div class="control">
                            <div class="select">
                                <select id="grade" formControlName="grade">
                                    <option>Any</option>
                                    <option>6th</option>
                                    <option>7th</option>
                                    <option>8th</option>
                                    <option>High school</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Includes:</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" formControlName="includes_worksheets"> Worksheets
                                </label>
                                <label class="checkbox" class=s pacing>
                                    <input type="checkbox" formControlName="includes_labs"> Labs
                                </label>
                                <label class="checkbox" class=s pacing>
                                    <input type="checkbox" formControlName="includes_assesment"> Assessment
                                </label>
                                <label class="checkbox" class=s pacing>
                                    <input type="checkbox" formControlName="includes_video"> Video
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Content Description</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea" placeholder="Explain the content of this upload" formControlName="description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Tags</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea" placeholder="Please add tags that help describe what is in the upload, seperated by commas. E.G. Cellular Energy, Science, Gravity, Neuton " formControlName="tags"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Content Licensing</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea" placeholder="Content license information, enter none for no license." formControlName="license"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">File Upload</label>
                    </div>
                    <div class="field-body">
                        <div class="file has-name">
                            <label class="file-label">
                                <input (change)="handleFileInput($event.target.files)" class="file-input" type="file" name="resume">
                                <span class="file-cta">
                                <span class="file-icon">
                                  <fa-icon [icon] = "faUpload"></fa-icon>
                                </span>
                                <span class="file-label">
                                    Choose a file or a compressed folder (.zip or .rar)
                                </span>

                                </span>
                                <span class="file-name">
                                {{fileToUpload != null ? fileToUpload.name : 'No File Chosen'}}
                              </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label"></label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" formControlName="tos"> I Agree to the Terms of Servce and Privacy Policy.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <!-- Left empty for spacing -->
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button has-background-link has-text-white" [disabled] = "fileToUpload === null" (click)="onSubmitFileClick()">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>

</html>