<!DOCTYPE html>

<html lang="en">

<head>
    <title>Upload Content</title>
    <meta charset="utf-8" />
    <!--<link rel="stylesheet" type="text/css" href="CSS PATH HERE" />-->
    <style>      
        div.size {
          margin: auto;
          width: 70%;
        }
        div.center {
        padding: 15px;
        text-align: center;
        font-size: 2.2em;
        }
        label.spacing{
            margin-left:10px;
        }
        </style>
</head>

<body>
    <div class= center>
        <h1 class="title">Upload Content</h1>
    </div>

    <div class="container is-desktop " >
        <div class="notification has-background-white">
            <form [formGroup] = "UploadForm" action="/PATH FOR HANDLING INPUT">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                    <label class="label">File Title</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input class="input" type="text" required #fileTitle >
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                    <label class="label">Subject</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input class="input" type="text" required #subject>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Grade</label>
                    </div>
                    <div class="field-body">
                        <div class="control">
                            <div class="select">
                            <select id="grade" #gradeLevel>
                                <option>Any</option>
                                <option>6th</option>
                                <option>7th</option>
                                <option>8th</option>
                                <option>High school</option>
                                </select>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                    <label class="label">Includes:</label>
                    </div>
                    <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" #workSheets>
                            Worksheets 
                        </label>
                        <label class="checkbox" class= spacing>
                            <input type="checkbox" #labs>
                            Labs 
                        </label>
                        <label class="checkbox" class= spacing>
                            <input type="checkbox" #exams>
                            Assessment 
                        </label>
                        <label class="checkbox" class= spacing>
                            <input type="checkbox" #video>
                            Video
                        </label>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                    <label class="label">Content Description</label>
                    </div>
                    <div class="field-body">
                    <div class="field">
                        <div class="control">
                        <textarea class="textarea" placeholder="Explain the content of this upload" required #description></textarea>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                    <label class="label">Content Licensing</label>
                    </div>
                    <div class="field-body">
                    <div class="field">
                        <div class="control">
                        <textarea class="textarea" placeholder="Content license information" required #lincense></textarea>
                        </div>
                    </div>
                    </div>
                </div>

                
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">File Upload</label>
                    </div>
                    <div class="field-body">
                        <div class="file">
                            <label class="file-label">
                            <input class="file-input" type="file" name="resume" id="previewImage" accept=".zip, .rar, .7z, .pdf, .doc, .docx">
                            <span class="file-cta">
                                <span class="file-label">
                                Choose a file…
                                </span>
                            </span>
                            </label>
                        </div>
                    </div>
                </div>
        
                <div class="field is-horizontal">
                    <div class="field-label">
                    <label class="label"></label>
                    </div>
                    <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control">
                        <label class="checkbox">
                            <input type="checkbox">
                            I Agree to the Terms of Servce and Privacy Policy.
                        </label>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                    <!-- Left empty for spacing -->
                    </div>
                    <div class="field-body">
                    <div class="field">
                        <div class="control">
                        <button class="button has-background-link has-text-white" (click)="uploader(fileTitle.value, subject.value, gradeLevel.value, worksheets.value, labs.value, exams.value, video.value, description.value, license.value)">
                            Submit
                        </button>
                        </div>
                    </div>
                    </div>
                </div>
            </form>
        </div>
    </div>




</body>

</html>