<!DOCTYPE html>

<html lang="en">

<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <style>      
      div.size {
        margin: auto;
        width: 70%;
      }
      </style>
</head>

<body>
  <br><br>
  <div class=size>
  <div class="container is-desktop" >
    <div class="notification">
    <div id="login"><!--May use external CSS to move to center-->
            <label for="userName">Username</label>

            <input class="input" placeholder="Username" type="text" id="userName" name="userName" #text><br><br>
            <label for="password">Password</label>
            <input class="input" placeholder="Password" type="text" id="password" name="password" #password><br><br>
            <button class="button is-link" (click)="showText(text.value, password.value)">Login!</button>
        
    </div>
    </div></div></div>

    <br><br><br>

</body>
</html>