<!DOCTYPE html>

<html lang="en">

<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <!--<link rel="stylesheet" type="text/css" href="CSS PATH HERE" />-->
</head>

<body>
    <div id="login"><!--May use external CSS to move to center-->
        
            <label for="userName">Username</label>
            <input type="text" id="userName" name="userName" #text><br><br>
            <label for="password">Password</label>
            <input type="text" id="password" name="password" #password><br><br>
            <button (click)="showText(text.value, password.value)">Search!</button>
        
    </div>

</body>
</html>