<!DOCTYPE html>

<html lang="en">

<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <!--<link rel="stylesheet" type="text/css" href="CSS PATH HERE" />-->
</head>

<body>
    <div id="login"><!--May use external CSS to move to center-->
        <form action="/home.html">
            <label for="userName">Username</label>
            <input type="text" id="userName" name="userName"><br><br>
            <label for="password">Password</label>
            <input type="text" id="password" name="password"><br><br>
            <input type="submit" value="Search">
        </form>
    </div>

</body>
</html>