<!DOCTYPE html>

<html lang="en">

<head>
    <title>Privacy</title>
    <meta charset="utf-8" />
    <style>
        div.size {
            margin: auto;
            width: 70%;
        }

        div.center {
            padding: 15px;
            text-align: center;
            font-size: 2.2em;
        }

        div.centerContent {
            padding: 15px;
            text-align: center;
        }

        div.content {
            padding: 15px;
        }

        html {
            overflow: inherit
        }
    </style>


</head>

<body>
    <div class=center id=PrivacyHeader>
        <h1>Privacy Statement</h1>
    </div>
    <!--End PrivacyHeader-->

    <div class=content id="content">
        <p>This site is commisioned by Omaha Public Schools and as such is apart of their schools overall privacy statement. 
            Addationaly this site in perticular will collect any data submitted for upload withen the upload section of the site and will keep track of indivual browsers login session and paramaters used for searching for data.</p>
            <br>
        <p>Addational privicy information pending.</p>
    </div>

</body>

</html>