<!DOCTYPE html>

<html lang="en">

<head>
    <title>Privacy</title>
    <meta charset="utf-8" />
    <style>
        div.size {
            margin: auto;
            width: 70%;
        }

        div.center {
            padding: 15px;
            text-align: center;
            font-size: 2.2em;
        }

        div.centerContent {
            padding: 15px;
            text-align: center;
        }

        html {
            overflow: inherit
        }
    </style>


</head>

<body>
    <div class=center id=PrivacyHeader>
        <h1>Privacy Statement</h1>
    </div>
    <!--End PrivacyHeader-->

</body>

</html>