<!DOCTYPE html>

<html lang="en">

<head>
    <title>Advanced Search</title>
    <meta charset="utf-8" />
    <style>      
        div.size {
          margin: auto;
          width: 70%;
        }
        div.center {
        padding: 15px;
        text-align: center;
        font-size: 2.2em;
        }
        </style>


</head>

<body>
    <div class= center id=advancedSearchHeader>
        <h1>Advanced Search</h1>
    </div>
    <!--End advancedSearchHeader-->

    <!--Never delt with input data in HTML yet so this may need some fixes-->
    <div class="container is-desktop" >
        <div class="notification">
    <form >
        <div class=size>
        <div class="columns">
            <div class="column is-half">
            <!--Combo box for grade-->
            <div class="field">
                <label for="grade">Grade Level</label>
                <div class="control">
                    <div class="select">
                        <select id="grade" #gradeLevel>
                            <option value="Any">Any</option>
                            <option value="6th">6th</option>
                            <option value="7th">7th</option>
                            <option value="8th">8th</option>
                            <option value="9th">9th</option>
                            <option value="10th">10th</option>
                            <option value="11th">11th</option>
                            <option value="12th">12th</option>
                        </select>
                    </div>
                </div>
            </div>
            <br><br><br>

            <!--Combo box for subject-->
            <div class="field">
                    <label for="subject">Subject</label>
                    <div class="control">
                        <div class="select">
                    <select id="subject" #subject>
                        <option value="Any">Any</option>
                        <option value="tempSubject1">TEMP SUBJECT 1</option>
                        <option value="tempSubject2">TEMP SUBJECT 2</option>
                        <option value="tempSubject3">TEMP SUBJECT 3</option>
                        <option value="tempSubject4">TEMP SUBJECT 4</option>
                        <option value="tempSubject5">TEMP SUBJECT 5</option>
                        <option value="tempSubject6">TEMP SUBJECT 6</option>
                        <option value="tempSubject7">TEMP SUBJECT 7</option>
                    </select>
                        </div>
                    </div>
            </div>

            <br><br><br>

            <!--Combo box for content type-->
            <div class="field">
            <label for="contentType">Content Type</label>
            <div class="control">
                <div class="select">
            <select id="contentType" #contentType>
				<option value="Any">Any</option>
                <option value="tempContentType1">TEMP CONTENT TYPE 1</option>
                <option value="tempContentType2">TEMP CONTENT TYPE 2</option>
                <option value="tempContentType3">TEMP CONTENT TYPE 3</option>
            </select>
                </div></div></div>
            <br><br><br>

        </div>
        <!--End column 1 div-->

        <div class="column is-half"><!--May use external CSS to move to center-->
            <h3>Includes</h3>

            <!--Check boxs for includes-->
            <div class="field">
                <div class="control">
                    <input type="checkbox" id="worksheet" name="worksheet" value="worksheet" #worksheets>
                    <label class="checkbox" for="worksheet">Worksheets</label><br><br>
                    <input type="checkbox" id="lab" name="lab" value="lab" #labs>
                    <label class="checkbox" for="lab">Labs</label><br><br>
                    <input type="checkbox" id="exam" name="exam" value="exam" #exams>
                    <label class="checkbox" for="exam">Exams</label><br><br>
                </div>
            </div>

            <!--Test box for keyword input-->
            <label for="keyword">Keyword(s)</label>
            <div class="control">
            <input type="text" id="keyword" name="keyword" class="input" #keyword><br><br>
            <button class="button is-link" (click)="searcher(keyword.value, contentType.value, gradeLevel.value, subject.value, exams.value, labs.value, worksheets.value)"  required="required" >Search</button>
            </div>
            <div></div>

        </div></div>
        <!--End column 2 div--></div>
    </form>
        </div></div>
        <!--test -->
   <!----- <div id="column3" style="float:right">
        <img src="images/imageName.png" alt="Image" />
    </div> -->
    <br><br>
    <!--End column 3 div-->


    
</body>
</html>